.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #f5f4f4;
}
.text-overlay {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.text-overlay h1 {
  font-size: 56px; 
  margin-bottom: 10px; 
}


img {
  max-height: 550px;
  height: auto;
  width: 100%;
  object-fit: cover;
}

source {
  height: 418px;
  width: auto;
}

@media (min-width: 398px) {
    .text-overlay {
      display: block; /* Display the overlay for screens wider than 768px */
    }
  }
  